<title> Sails Investments- BMac </title>
<div id="home">
  <object align="middle">

<h1 style="text-align: center">Welcome to the Node Financial Investment Portfolio</h1>
<h4 style="text-align: center"> Please use the links below to explore the website</h4>
<div style="text-align: center"><img src="http://cliparts.co/cliparts/Lid/jR4/LidjR4RGT.png" width="200" height="270" alt="Dollar Sign"/></div>

<h3 style="text-align: center"> <u>Customers</u></h3>
<div style="text-align: center"> <h4> <a href="customer/index"> View Customers </a></h4> </div>
<div style="text-align: center"> <h4> <a href="customer/new"> Create New Customer </a></h4> </div>

<h3 style="text-align: center"> <u>Stocks</u></h3>
<div style="text-align: center"> <h4> <a href="stock/index"> View Stocks </a></h4> </div>


<h3 style="text-align: center"> <u>Investments</u></h3>
<div> <h4 style="text-align: center"> <a href="investment/index"> View Investments </a></h4> </div>
  </object>
</div>
